.primaryButton {
  background: rgb(26, 73, 241);
  background: linear-gradient(
    88deg,
    rgba(26, 73, 241, 1) 0%,
    rgba(164, 81, 239, 1) 61%
  );

  color: var(--F500-Base);
  border: none;
}


.secondaryButton {
  border: 2px solid var(--A600);
  color: var(--A600);
  background: var(--S700);
}

.transparentButton{
  color: var(--A600);
  background: transparent
}


.buttonGlow {
  box-shadow: 0 0 20px var(--glow-color);
  transition: 0.3s ease;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.buttonGlow:hover {
  /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

